.categories {

  &__all {
    max-height: 991px;;
    margin: 30px;
    align-items: flex-start;
    max-width: 300px;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    text-wrap: normal;

    &-article {
      text-align: left;
      display: flex;
      flex-direction: column;


      &-date {
        width: 100%;
        padding-bottom: 24px;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: #707070;
        border-bottom: 1px solid #EBEBEB;
      }

      &-text {
        max-width: 270px;
        color: #182840;
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        padding-bottom: 12px;
      }

      &-name {
        padding-top: 32px;
        padding-bottom: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
      }

      &-job {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        padding-bottom: 32px;
        padding-top: 4px;
      }
    }

    &-header {
      display: flex;
      padding-top: 32px;
      gap: 100px;

      &-col {
        cursor: pointer;
      }

      span {
        user-select: none;
        cursor: pointer;
      }
    }
  }

  .flex {
    width: 640px;
    height: 360px;
    gap: 32px;
    align-items: flex-start;
    display: flex;
  }
}
