.news {
  display: flex;
  width: 100%;
  align-items: center;
  background: #F7F7F7;

  &__all {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 32px;
  }

  &__selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;

    &-block {
      padding-right: 64px;
      padding-top: 32px;
      display: flex;
      flex-direction: column;
      max-width: 304px;
      text-align: left;
    }

    &-image {
      width: 304px;
      height: 171px;
    }

    &-text {
      font-style: normal;
      color: #182840;
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
    }

    &-data {
      padding-top: 18px;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      text-transform: uppercase;
      color: #707070;
    }

    &-title {
      padding-left: 35px;
      width: 304px;
      height: 63px;
      display: flex;
      justify-content: flex-start;
      margin-left: 68px;
      font-family: 'TT Severs';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 130%;
      text-align: center;
    }

    &-text {
      width: 304px;
      height: 63px;
      display: block;
    }
  }
}

.all {
  background: #FFFFFF;
  border-radius: 12px;
  width: 304px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 16px 24px;
  gap: 32px;

  &__selected {
    font-family: 'TT Severs';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding-left: 16px;

    &-button {
      color: #919191;
      cursor: pointer;
      border: none;
      background: none;

      &:first-child {
        width: 40px;
        height: 28px;
        background: #FFEAE0;
        border-radius: 4px;
      }
    }
  }

  .active {
    color: #FF7534;
  }

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-archive {
      font-family: inherit;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 140%;
      cursor: pointer;

      &:before {
        content: 'Архів';
        border-bottom: black 1px solid;
      }
    }

    &-header {
      font-family: 'TT Severs';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 140%;
      color: #2D2D2D;
    }
  }

  &__article {
    text-align: left;
    display: flex;
    width: 272px;
    height: 88px;
    padding: 16px;
    border-bottom: 1px #EBEBEB solid;

    &-load {
      &-btn {
        cursor: pointer;
        font-family: 'Roboto Light', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        height: 35px;
        border: 1px #707070 solid;
        border-radius: 5px;

        &:hover {
          border: 1px #adadad solid;
        }
      }
    }

    &:before {
      padding-right: 5px;
      color: #707070;
      content: '14:59';
      width: 36px;
      height: 20px;
    }
  }

  &__items {
    padding-right: 16px;
  }
}

.camera {
  font-family: 'Roboto Light', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #979EA9;
  gap: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 24px;
  padding-left: 16px;
}

.fire-icon {
  font-family: 'Roboto Light', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #FF7534;
  gap: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 24px;
  padding-left: 16px;
}

//regions

.regions {
  display: flex;
  width: 100%;
  position: relative;
   &-subtitle {
     padding-right: 64px;
   }
  &-title {
    font-family: 'Roboto Light', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
  }

  &-wrapper {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  &__city {
    font-family: 'Roboto Light', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px;
    max-width: 300px;

    &-date {
      color: #F3560C;
    }

    &-container {
      padding-left: 16px;
      background: #FFFFFF;
      border-radius: 12px;
      line-height: 140%;
      color: #182840;

      &-btn {
        padding-top: 32px;
        font-family: 'Roboto Light', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 35px;
        border: none;
        padding-bottom: 37px;
        cursor: pointer;
        &:hover {
          color: #F3560C;
        }
      }

      &-item {
        padding-bottom: 32px;

        &:before {
          content: '14:59';
          padding-right: 3px;
          color: #707070;
        }
      }
    }
  }

  &-header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    align-items: center;
    text-align: center;
  }
}